@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
:root{
  --white-color:#fff;
  --primary-color:  #ef9273;
  --secondary-color: #fef9f8;
  --black-color: #0d0d0d ;
  --off-color:#919191;
  --font-fam1: 'Alata', sans-serif;
}
body{

}
p{
  padding: 0px;
  margin: 0px;
}
h1,h2,h3,h4,h5,h6{

}
h1,.h1{
  
}
h2,.h2{

}
h3,.h3{

}
h4,.h4{

}
h5,.h5{

}
h6,.h6{

}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
a{
  color: var(--tertiary-color) !important;
}
@media only screen and (min-width:320px) and (max-width:480px){
  
}
@media only screen and (min-width:481px) and (max-width:768px){

}
@media only screen and (min-width:769px) and (max-width:1024px){

}
@media only screen and (min-width:1025px) and (max-width:1200px){

}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  width: 300px;
  padding: 12px 20px;
  background-color: var(--secondary-color);
}
.navbar-brand{
  font-size: 26px;
  letter-spacing: 0.5px ;
  /* font-weight: bold; */
  /* color: var(--primary-color)!important;
  text-shadow: var(--black-color) 0.3px 0.3px; */
}
.d-flex{
  /* font-weight: bold !important; */
  letter-spacing: 0.5px ;
}
.main-navbar{
  background-color: var(--secondary-color);
  font-family: var(--font-fam1);
  cursor: pointer;
  color: var(--black-color) !important;
}
.navbar-collapse{
  flex-grow: 0 !important;
}
.navbar{
  box-shadow: none !important;
}
.nav-item{
  margin: 0 16px ;
  letter-spacing: 0.5px;
  /* color: var(--primary-color) !important;
  text-shadow: var(--black-color) 0.3px 0.3px; */
  /* font-weight: bold; */
}
.d-flex span{
  margin-right: 4px;
  margin-left: 16px;
}
.master-banner img{
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.master-banner{
  font-family: var(--font-fam1);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.master-banner button{
  position: absolute;
  top: 85%;
  left: 7%;
  border: 2px solid var(--secondary-color);
  padding: 4px 12px;
  color: var(--white-color);
  font-weight: 500;
  border-radius: 4px;
  opacity: 80%;
  background-color: var(--primary-color);
}
.master-banner button:hover{

  background-color: var(--secondary-color);
  color: var(--black-color);
  opacity: 100%;
  font-weight: bold;
}
.dropdown-sub-list{
  font-size: 12px;
  font-style: italic;
  opacity: 70%;
  padding-left: 12px;
}
.dropdown-item-1{
  padding-top: 4px !important;
  padding-right: 12px;
  color: var(--primary-color);
  font-weight: bold;
  text-shadow: none !important;
}
.span-span{
  margin-right: 6px;
}
.dropdown-item{
  color: var(--primary-color) !important;
  font-weight: bold !important;
  text-shadow: none !important;
}
.inspiration-main{
  padding: 40px 0px;
  text-align: center;
  font-family: var(--font-fam1);
}
.inspiration-title{
  color: var(--off-color);
  font-size: 40px;
  /* font-style: italic; */
  letter-spacing: 0.5px;
  margin: 16px 0;
}
.inspiration-title span{
  font-weight: bold;
  margin-right: 12px;
  color: var(--primary-color);
  /* opacity: 70%; */
} 