@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
:root{
  --white-color:#fff;
  --primary-color:  #ef9273;
  --secondary-color: #fef9f8;
  --tertiary-color: #0d0d0d ;
  --font-fam1: 'Alata', sans-serif;
}
body{

}
p{
  padding: 0px;
  margin: 0px;
}
h1,h2,h3,h4,h5,h6{

}
h1,.h1{
  
}
h2,.h2{

}
h3,.h3{

}
h4,.h4{

}
h5,.h5{

}
h6,.h6{

}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
a{
  color: var(--tertiary-color) !important;
}
@media only screen and (min-width:320px) and (max-width:480px){
  
}
@media only screen and (min-width:481px) and (max-width:768px){

}
@media only screen and (min-width:769px) and (max-width:1024px){

}
@media only screen and (min-width:1025px) and (max-width:1200px){

}
.main-navbar{
  background-color: var(--secondary-color);
  font-family: var(--font-fam1);
  cursor: pointer;
}
.navbar-collapse{
  flex-grow: 0 !important;
}
.navbar{
  box-shadow: none !important;
}
.nav-item{
  margin: 0 16px ;
}
.d-flex span{
  margin-right: 4px;
  margin-left: 16px;
}