@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
:root{
  --white-color:#fff;
  /* --primary-color:  #ef9273; */
  --primary-color:#0199ae;
  --secondary-color: #fef9f8;
  --black-color: #0d0d0d ;
  --off-color:#919191;
  --offwhite-color:#f2f2f3;
  --font-fam1: 'Alata', sans-serif;
}
body{

}
p{
  padding: 0px;
  margin: 0px;
}
h1,h2,h3,h4,h5,h6{

}
h1,.h1{
  
}
h2,.h2{

}
h3,.h3{

}
h4,.h4{

}
h5,.h5{

}
h6,.h6{

}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
a{
  color: var(--tertiary-color) !important;
}
@media only screen and (min-width:320px) and (max-width:480px){
  .main{
    padding: 30px 0px !important;
  }
  .main-sec-title{
    margin-bottom: 2px !important;
  }
  .master-banner-img{
    height: 350px !important;
  }
  .service-image img{
    height: 200px !important ;
    width: 200px !important;
    object-fit: contain !important;
    border-radius: 12px;
  }
  .service-content{
    padding: 0px 20px !important;
    text-align: justify !important;
  }
  .service-content-1{
    padding: 0px 20px!important;
    text-align: justify !important;
  }
  .service-card{
    margin-bottom: 40px !important;
  }
  .inspiration-title{
    font-size: 20px !important;
    font-weight: bold !important;
  }
  .master-banner-content{
    position: absolute !important;
    left: 1% !important;
    padding: 36px !important;
    top:-2% !important;
    text-align: justify !important;
  }
  .bird-img{
    position: absolute;
    top: 50% !important;
    left: 20% !important;
  }
  .mountain-img{
    position: absolute;
    top: 35%;
    left: 10% !important;
  }
  .sun-img{
    position: absolute;
    top: 30%;
    left: 80% !important;
  }
  .master-banner button{
    left: 12% !important;
    font-size: 12px !important;
    padding: 4px 12px !important;
  }
  .about-me-description{
    padding: 36px 0 !important;
  }
  .project-img{
    width: 80% !important;
  }
  .project-img{
    width: 90% !important;
  }
  .footer-ul{
    padding: 0px !important;
  }
  .footer{
    margin: 6px 0px 6px !important;
  }
  .footer-main{
    height: 600px !important;
  }
  .footer-ul li>p>span{
    font-size: 16px !important;
  }
}
@media only screen and (min-width:481px) and (max-width:768px){
  .footer-main{
    height: 600px !important;
  }
  .footer{
    margin: 6px 0px 6px !important;
  }
  .main{
    padding: 30px 0px !important;
  }
  .main-sec-title{
    margin-bottom: 2px !important;
  }
  .service-image img{
    height: 300px !important ;
    width: 300px !important;
    object-fit: contain !important;
    border-radius: 12px;
  }
  .service-content{
    padding: 0px 20px !important;
    text-align: justify !important;
  }
  .service-content-1{
    padding: 0px 20px!important;
    text-align: justify !important;
  }
  .service-card{
    margin-bottom: 40px !important;
  }
  .inspiration-title{
    font-size: 28px !important;
    font-weight: bold !important;
  }
  .master-banner-content{
    position: absolute !important;
    left: 1% !important;
    padding: 36px !important;
    top:12% !important;
    text-align: justify !important;
  }
  .master-banner-content p{
    background-color: var(--off-color);
    color: var(--white-color);
    opacity: 60%;
    padding: 6px;
  }
  .bird-img{
    position: absolute;
    top: 55% !important;
    left: 20% !important;
  }
  .mountain-img{
    position: absolute;
    top: 35%;
    left: 20% !important;
  }
  .sun-img{
    position: absolute;
    top: 20% !important;
    left: 80% !important;
  }
  .master-banner button{
    left: 12% !important;
  }
  .about-me-description{
    padding: 0 36px !important;
  }
  .project-img{
    width: 90% !important;
  }
  .footer-ul{
    padding: 0px !important;
  }
  .footer-ul li>p>span{
    font-size: 14px !important;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px){
  .master-banner-content{
    position: absolute !important;
    left: 1% !important;
    padding: 36px !important;
    top:12% !important;
    text-align: justify !important;
  }
  .master-banner-content p{
    background-color: var(--off-color);
    color: var(--white-color);
    opacity: 60%;
    padding: 6px;
  }
  .bird-img{
    position: absolute;
    top: 55% !important;
    left: 20% !important;
  }
  .mountain-img{
    position: absolute;
    top: 35%;
    left: 20% !important;
  }
  .sun-img{
    position: absolute;
    top: 20% !important;
    left: 80% !important;
  }
  .master-banner button{
    left: 12% !important;
  }
}
@media only screen and (min-width:1025px) and (max-width:1200px){

}
.logo{
  object-fit: contain;
  height: 80px;
}
.main-1{
  background-color: var(--offwhite-color) !important;
}
.home-main{
  position: relative;
}
.home-ul{
  position: fixed;
  top: 38%;
  z-index: 1000;
}
.home-ul li{
  background-color: var(--primary-color);
  margin-bottom: 8px;
  padding: 6px 16px;
  cursor: pointer;
}
.home-p{
  color: var(--secondary-color);
}
.home-span{
  display: none;
}
.master-banner-content{
  position: absolute;
  left: 12%;
  padding: 36px;
  top:15%;
  text-align: justify !important;
}
.master-banner-content p{
  line-height: 2;
  font-size: 14px!important;
  letter-spacing: 1px;
  font-style: italic;
}
.house-img{
position: absolute;
top: 50%;
left: 40%;
}
.mountain-img{
  position: absolute;
  top: 35%;
  left: 60%;
}
.sun-img{
  position: absolute;
  top: 30%;
  left: 70%;
}
.bird-img{
  position: absolute;
  top: 60%;
  left: 90%;
}
.saroj-info h4,h5{
  font-style: italic;
  opacity: 80%;
}
.banner-span{
  color: var(--primary-color);
  font-size: 30px;
  font-weight: bold;
}
.main{
  font-family: var(--font-fam1);
  padding: 64px 0;
  /* background-color: var(--secondary-color); */
}
.main-sec-title{
  text-align: left;
  margin-bottom: 12px;
  color: var(--off-color);
}
.main-sec-title-2{
  text-align: right;
  margin-bottom: 12px;
  color: var(--off-color);
}
.main-title{
  text-align: center;
  margin-bottom: 64px;  
  color: var(--primary-color);
}
.main-title h3{
  font-size: 36px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  width: 300px;
  padding: 12px 20px;
  /* background-color: var(--secondary-color); */
}
.navbar-brand{
  font-size: 26px;
  letter-spacing: 0.5px ;
  /* font-weight: bold; */
  /* color: var(--primary-color)!important;
  text-shadow: var(--black-color) 0.3px 0.3px; */
}
.d-flex{
  /* font-weight: bold !important; */
  letter-spacing: 0.5px ;
}
.main-navbar{
  /* background-color: var(--secondary-color); */
  font-family: var(--font-fam1);
  cursor: pointer;
  color: var(--black-color) !important;
}
.navbar-collapse{
  flex-grow: 0 !important;
}
.navbar{
  box-shadow: none !important;
}
.nav-item{
  margin: 0 16px ;
  letter-spacing: 0.5px;
  /* color: var(--primary-color) !important;
  text-shadow: var(--black-color) 0.3px 0.3px; */
  /* font-weight: bold; */
}
.d-flex span{
  margin-right: 4px;
  margin-left: 16px;
}
.master-banner-img{
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.master-banner{
  font-family: var(--font-fam1);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.master-banner button{
  position: absolute;
  top: 80%;
  left: 15%;
  border: none;
  padding: 8px 26px;
  color: var(--white-color);
  font-weight: 500;
  border-radius: 4px;
  background-color: var(--primary-color);
}
.master-banner button:hover{

  background-color: var(--secondary-color);
  color: var(--black-color);
  opacity: 100%;
  font-weight: bold;
}
.dropdown-sub-list{
  font-size: 12px;
  font-style: italic;
  opacity: 70%;
  padding-left: 12px;
}
.dropdown-item-1{
  padding-top: 4px !important;
  padding-right: 12px;
  color: var(--primary-color);
  font-weight: bold;
  text-shadow: none !important;
}
.span-span{
  margin-right: 6px;
  color: var(--primary-color);
}
.dropdown-item{
  color: var(--primary-color) !important;
  font-weight: bold !important;
  text-shadow: none !important;
}
.inspiration-main{
  padding: 40px 0px;
  text-align: center;
  font-family: var(--font-fam1);
}
.inspiration-title{
  color: var(--off-color);
  font-size: 40px;
  /* font-style: italic; */
  letter-spacing: 0.5px;
  margin: 16px 0;
}
.inspiration-title span{
  font-weight: bold;
  margin-right: 12px;
  color: var(--primary-color);
  /* opacity: 70%; */
} 
.service-image{
  text-align: center !important;
}
.service-card{

}
.service-image img{
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 12px;
}
.service-content-1{
  padding: 40px 0 36px;
  text-align: right;
}
.service-content{
  padding: 40px 0 36px;
  text-align: left;
}
.service-content p{
  font-size: 16px;
  font-style: italic;
  opacity: 80%;
  letter-spacing: 0.6px;
  margin-bottom: 16px;
}
.service-content-1 p{
  font-size: 16px;
  font-style: italic;
  opacity: 80%;
  letter-spacing: 0.6px;
  margin-bottom: 16px;
}
.button-main{
  border: none;
  padding: 8px 26px;
  color: var(--white-color);
  font-weight: 500;
  border-radius: 4px;
  background-color: var(--primary-color);
}
.button-main:hover{
  background-color: var(--black-color);
}
.about-me-img{
  text-align: center;
}
.about-me-img img{
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.about-me-description{
  margin: 36px 0;
}
.about-me-description p{
  color: var(--off-color);
  font-style: italic;
  text-align: justify;
  letter-spacing: 0.6px;
}
.myproject-content{
  text-align: center !important;
}
.project-slider{
  text-align: center;
}
.project-img{
  height: 400px;
  width: 60%;
  object-fit: contain;
}
.project-title{
  font-weight: 500;
  color: var(--off-color);
  font-size: 20px;
}
.project-title span{
  color: var(--primary-color);
  margin: 0px 12px;
  font-size: 12px;
}
.slick-slide img {
  display: initial !important;
}
.slick-prev:before {
  display: none !important;
}
.slick-next:before {
  display: none !important;
}
.slider-arrow ul>li{
  display:inline-block;
}
.slider-p{
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 12px 26px 0px;
  font-size: 14px !important;
  padding: 4px 16px;
  cursor: pointer;
  border-radius: 4px;
}
.slider-span1{
 margin-right: 8px;
}
.slider-span2{
margin-left: 8px;
}
.footer-main{
 background-image: url('../src/Assests/footerback.png');
  font-family: var(--font-fam1);
  padding: 86px 0px 0px;
  background-position: center;
  background-size: cover ;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: -1px;
}
.footer-content{
  text-align: center;
}
.footer-content img{
  height: 150px;
  width: 100%;
  object-fit: contain;
}
.footer-content h4{
  margin:0px 0px 16px
}
.footer-ul{
  text-align: justify !important;
  padding: 0px 26px;
}
.footer{
  text-align: center;
  letter-spacing: 1px;
}
.footer span{
  color: var(--primary-color);
}
.footer-ul li>p{
  font-size: 16px!important;
  opacity: 70%;
}
.footer-ul li{
  line-height: 1.8;
}
.footer-ul li>p>span{
  color: var(--primary-color);
}
.about-slider{
  text-align: center;
}
.slider-arrow-1{
  margin-top: 32px;
}
.cv-main{
  text-align: center;
}
